.header__lang-link {
  margin-left: 18px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
}

.header__lang-link:hover {
  opacity: 0.5;
  transition: opacity 0.4s;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 5.625vw;
    line-height: 1.11;
  }
}
