.photo-grid {
  display: grid;
  margin: 0;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 320px) {
  .photo-grid {
    gap: 3.75vw;
  }
}
