.place {
  margin: 0 auto 80px;
  display: grid;
  grid-template-columns: fit-content(460px) fit-content(484px);
  grid-template-rows: auto;
  gap: 40px 48px;
}

.place:last-of-type {
  margin-bottom: 0;
}
